<nav>
  <ul id="lang">
    <a href="/"></a>
    <li>en</li>
    <li>de</li>
  </ul>
  <ul id="menu">
    <li>
      <a href="/about.html">
        <span lang="en">About</span>
        <span lang="de">Über das Projekt</span>
      </a>
    </li>
    <li>
      <a href="/trailer.html">Trailer</a>
    </li>
    <li>
      <a href="/team.html">Team</a>
    </li>
    <li>
      <a href="/contacts.html">
        <span lang="en">Contacts</span>
        <span lang="de">Kontakt</span>
      </a>
    </li>
  </ul>
</nav>
