<div lang="en">
  <each loop='record, idx of records.en'>
    <div onclick="__rwandan_records__.showModal('{{ record.video }}')">
      <h3>{{ record.title }}</h3>
      <p>{{ record.subtitle }}</p>
      <p>{{ record.duration }}</p>
    </div>
  </each>
</div>
<div lang="de">
  <each loop='record, idx of records.de'>
    <div onclick="__rwandan_records__.showModal('{{ record.video }}')">
      <h3>{{ record.title }}</h3>
      <p>{{ record.subtitle }}</p>
      <p>{{ record.duration }}</p>
    </div>
  </each>
</div>
