<extends src='views/layouts/record.html'>
  <block name='content'>

    <section id="titles">

      <div lang="en" class="container">
        <div class="row">
          <div class="col-md-4 col-xs-1">{{{ records.en[0].title }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.en[0].subtitle }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.en[0].duration }}}</div>
        </div>
      </div>

      <div lang="de" class="container">
        <div class="row">
          <div class="col-md-4 col-xs-1">{{{ records.de[0].title }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.de[0].subtitle }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.de[0].duration }}}</div>
        </div>
      </div>

    </section>

    <section id="text">

      <div lang="en">
        {{{ records.en[0].text }}}
      </div>

      <div lang="de">
        {{{ records.de[0].text }}}
      </div>

    </section>

  </block>
</extends>
