<extends src='views/layouts/record.html'>
  <block name='content'>

    <audio controls autoplay>
      <source src="audio/{{ records.en[6].audio }}" type="audio/mpeg">
    </audio>

    <section id="titles">

      <div lang="en" class="container">
        <div class="row">
          <div class="col-md-4 col-xs-1">{{{ records.en[6].title }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.en[6].subtitle }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.en[6].duration }}}</div>
        </div>
      </div>

      <div lang="de" class="container">
        <div class="row">
          <div class="col-md-4 col-xs-1">{{{ records.de[6].title }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.de[6].subtitle }}}</div>
          <div class="col-md-4 col-xs-1">{{{ records.de[6].duration }}}</div>
        </div>
      </div>

    </section>

    <section id="text">

      <div lang="en">
        {{{ records.en[6].text }}}
      </div>

      <div lang="de">
        {{{ records.de[6].text }}}
      </div>

    </section>

  </block>
</extends>
