<extends src='views/layouts/record.html'>
  <block name='content'>

    <section id="titles">

      <div lang="en">
        <div>THE USER INTERFACE</div>
        <div>with Yannick Kamenzi</div>
        <div>1’45’’</div>
      </div>

      <div lang="de">
        <div>Die Benutzer-oberfläche</div>
        <div>mit Yannick Kamenzi</div>
        <div>1’45’’</div>
      </div>

    </section>

    <section id="text">

      <div lang="en">
        To be honest and I&#39;d be speaking like from where I&#39;m standing and maybe my generation, I think 80 percent
        of it is already lost and we are struggling to keep the 20 percent that&#39;s there.<br>

        A phone has a lot of structure inside. A lot of chips connected to one another. A lot of integral circuits, a lot
        of mechanics inside that makes a phone what it is. When you look at a phone you don&#39;t see all that stuff
        inside. You look at the cover. Yeah, this the touch screen. You can see where to add volume or where
        to reduce volume. You can see the On and Off. You can fingerprint the camera, the output stuff. And that&#39;s
        the 20 percent that&#39;s left here right now. It&#39;s the output stuff.<br>

        The things that people would show off. Dance, Imigongo. Not the integral circuit. Not the motherboard. All
        the essential parts that would make the output device multiply. No. We just have... It&#39;s like just cutting the
        roots of a tree and giving you the tree. Maybe someone would find a way to sustain it and make it turn it
        into a plastic thing that would stay there. But it will never grow again. You see? It will never grow again. It
        will never have new fruits. It will always be what it is now. I think that&#39;s what&#39;s happening also with the
        dance. Because nobody learned how to make them. They all learned the dances but nobody learned how
        to create them.
      </div>

      <div lang="de">
        Um ehrlich zu sein und ich spreche jetzt aus der Sicht meiner Generation, denke ich, dass 80 Prozent davon bereits verloren sind und wir haben Mühe, die 20 Prozent, die es noch gibt, zu halten.
        Ein Telefon hat ein reges Innenleben, jede Menge Chips und so, die miteinander verbunden sind. Eine Menge integrierter Schaltkreise, jede Menge Mechanik im Inneren, die ein Telefon zu dem machen was es ist. Wenn man sich ein Telefon ansieht, sieht man all das Zeug im Inneren nicht.
        Du schaust dir die Hülle an. Ja, das ist der Touchscreen. Man kann sehen, wo man die Lautstärke erhöht oder reduziert. Du kannst das On und Off sehen. Du kannst die Kamera und die Ausgänge mit dem Fingerabdruck erfassen. Und das sind die 20 Prozent, die noch übrig sind! Es ist der Output.
        Die Dinge, mit denen die Leute angeben. Tanz, Imigongo. Nicht die integrierte Schaltung. Nicht das Motherboard. Alle wesentlichen Teile, die das Ausgabegerät vervielfachen würde. Nein. Wir haben nur… Es ist wie… Es ist, als würde man einfach die Wurzeln eines Baumes abschneiden und dir den Baum geben. Vielleicht würde jemand einen Weg finden, ihn zu erhalten und ihn zu einem Plastikteil zu machen, das da stehen würde. Aber er wird nie wieder wachsen. Siehst du? Er wird nie wieder wachsen. Er wird nie neue Früchte tragen. Er wird immer das sein, was er jetzt ist.
        Ich denke, das ist es, was auch mit den Tänzen passiert. Niemand hat gelernt hat, wie man sie richtig tanzt.
      </div>

    </section>

  </block>
</extends>
