<extends src='layout.html'>
  <block name='content'>

    <section id="records">
      <div>
        <ul lang="en">
          <each loop='record of records.en'>
            <li>
              <if condition="record.text">
                <em>
                  <p md>{{ record.text }}</p>
                </em>
              </if>
              <h1>{{{ record.title }}}</h1>
              <if condition="record.subtitle">
                <h2>{{{ record.subtitle }}}</h2>
              </if>
              <if condition="record.duration">
                <h2>{{ record.duration }}</h2>
              </if>
            </li>
          </each>
        </ul>
        <ul lang="de">
          <each loop='record of records.de'>
            <li>
              <if condition="record.text">
                <em>
                  <p md>{{ record.text }}</p>
                </em>
              </if>
              <h1>{{{ record.title }}}</h1>
              <if condition="record.subtitle">
                <h2>{{{ record.subtitle }}}</h2>
              </if>
              <if condition="record.duration">
                <h2>{{ record.duration }}</h2>
              </if>
            </li>
          </each>
        </ul>
      </div>
    </section>

    <section id="record-modal">
      <div>
        <i>x</i>
        <p></p>
      </div>
    </section>

  </block>
</extends>
