<extends src='layout.html'>
  <block name='content'>

    <nav>
      <ul>
        <li>
          <a href="/trailer.html">Trailer</a>
        </li>
      </ul>
    </nav>

    <section id="records">
      <div>
        <ul>
          <each loop='record of records'>
            <li>
              <h1>{{ record.title }}</h1>
              <h2>{{ record.subtitle }}</h2>
              <h2>{{ record.duration }}</h2>
            </li>
          </each>
        </ul>
      </div>
    </section>

  </block>
</extends>
