<extends src='views/layouts/main.html'>
  <block name='content'>

    <section>
      <div lang="en">
        <each loop='person of team.en'>
          <div>
            <div class="accordion">
              <h3>{{ person.name }}</h3>
              <div>
                <p>{{ person.bio }}</p>
              </div>
            </div>
          </div>
        </each>
      </div>
      <div lang="de">
        <each loop='person of team.de'>
          <div>
            <div class="accordion">
              <h3>{{ person.name }}</h3>
              <div>
                <p>{{ person.bio }}</p>
              </div>
            </div>
          </div>
        </each>
      </div>
    </section>

  </block>
</extends>
