<extends src='layout.html'>
  <block name='content'>

    <section class="container">
      <div class="row" lang="en">
        <each loop='person of team.en'>
          <div class="col-md-4">
            <div class="accordion">
              <h3>{{ person.name }}</h3>
              <div>
                <p md>{{ person.bio }}</p>
              </div>
            </div>
          </div>
        </each>
      </div>
      <div class="row" lang="de">
        <each loop='person of team.de'>
          <div class="col-md-4">
            <div class="accordion">
              <h3>{{ person.name }}</h3>
              <div>
                <p md>{{ person.bio }}</p>
              </div>
            </div>
          </div>
        </each>
      </div>
    </section>

  </block>
</extends>
