body#index {

  main {
    padding-right: @bodyPadding;
  }

  nav {
    top: 16.5em;
  }

  #main-title h1 {
    text-transform: uppercase;
    font-size: 13em;
    text-align: center;
    margin: 0;
  }
}
