body#index {
  @animationDuration: 1.5s;

  @media @desktop {
    overflow-y: hidden;
  }

  main {
    padding: @mainPagePadding;
  }

  @media @desktop {
    #main-title {
      position: absolute;
      top: -800px;
      transition: top ease-in-out @animationDuration;

      &.init {
        top: 0;
      }
    }
  }

  nav {
    transition: right ease-in-out @animationDuration;
    right: 0;

    &.init {
      right: -300px;
    }
  }

  #records-desktop {
    opacity: 1;
    transition: opacity ease-in-out @animationDuration .5s;
    visibility: visible;

    &.init {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}
