html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'FoundersGrotesk', sans-serif;
  background-color: black;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;

  a {
    color: white;
    text-decoration: none;
  }

  h1, h2 {
    font-family: 'FoundersGroteskX', sans-serif;
    color: @brandBlue;
  }

  h3 {
    font-size: 2em;
    font-weight: normal;
  }

  main {
    height: auto;
    padding: 3em 16em 3em 4em;
    line-height: 1.3;
  }
}
