html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'FoundersGrotesk', sans-serif;
  background-color: black;
  color: white;

  a {
    color: white;
  }

  h1, h2 {
    font-family: 'FoundersGroteskX', sans-serif;
  }
}
