nav {
  margin: 4em 5em;
  position: relative;

  li, a {
    color: @brandBlue;
  }

  ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    max-width: 140px;
    margin-left: auto;

    li {
      cursor: pointer;
      margin-bottom: 12px;
    }
  }

  ul#lang {
    text-transform: uppercase;

    &:before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: @brandBlue;
      position: absolute;
    }

    li {
      padding-left: 38px;
    }
  }
}
