body#index {
  height: 200000%;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  main {
    position: fixed;
    top: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 0;
  }
}
