#main-title h1 {
  text-transform: uppercase;
  text-align: left;
  line-height: 0.7em;
  letter-spacing: 0;
  cursor: pointer;
}

@media @desktop {
  #main-title h1 {
    font-size: 24em;
    margin: 106px 0 0 9px;
  }
}

@media @mobile {
  #main-title h1 {
    font-size: 6em;
    margin: 0.65em 0 0 0;
  }
}
