nav {
  margin: 1em 2em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  ul#menu {
    background: url("/img/nav.svg") no-repeat left;
    padding-left: 17px;
    margin-left: 20px;
    list-style-type: none;
    text-align: left;
    width: 150px;

    li {
      cursor: pointer;
      margin-bottom: 22px;
      padding-top: 2px;
      font-size: 13px;

      a {
        transition: color ease-in-out .1s;
      }
    }

    li.active, li:hover {
      a {
        color: @ligtBrandBlue;
      }
    }

    li:first-child {
      padding-top: 8px;
    }

    li:last-child {
      padding-top: 0;
    }
  }

  ul#lang {
    @circleSize: 46px;
    @circleBorderWidth: 3px;

    padding: 0;
    text-transform: uppercase;
    height: @circleSize + 2 * @circleBorderWidth;
    margin-bottom: 24px;

    a {
      display: block;
      width: @circleSize;
      height: @circleSize;
      border-radius: 50%;
      border: @circleBorderWidth @brandBlue solid;
      position: absolute;
      cursor: pointer;
    }

    li {
      display: inline-block;
      font-size: 12px;
      margin-top: 13px;
      cursor: pointer;
      transition: border-bottom ease-in-out .1s;
    }

    li.active, li:hover {
      border-bottom: @circleBorderWidth @brandBlue solid;
    }

    li:first-of-type {
      margin-left: @circleSize + 39px;
    }
  }
}
