@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#records {
  @recordsCircleDiameter: 100%;
  @recordsCircleStep: 10.75%;
  @marginTop: 65px;
  @maxSize: calc(100vh - @marginTop - 2em);

  position: relative;
  width: 100%;
  max-width: @maxSize;
  height: @maxSize;
  margin: @marginTop auto 0 auto;
  cursor: pointer;
  transform: rotate(-60deg);

  img {
    position: absolute;
    width: 100%;
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;

    &:hover {
      animation-play-state: running;
    }
  }

  .loop (@index) when (@index > 0) {
    img:nth-child(@{index}) {
      animation-duration: 5s - (@index - 1) * .4s;
    }
    .loop(@index - 1);
  }
  .loop(9);

  img:nth-child(1) {
    /* autoprefixer: ignore next */
    clip-path: circle(100% at center);
  }


  img:nth-child(2) {
    /* autoprefixer: ignore next */
    clip-path: circle(46% at center);
  }


  img:nth-child(3) {
    /* autoprefixer: ignore next */
    clip-path: circle(42% at center);
  }


  img:nth-child(4) {
    /* autoprefixer: ignore next */
    clip-path: circle(37% at center);
  }

  img:nth-child(5) {
    /* autoprefixer: ignore next */
    clip-path: circle(32% at center);
  }

  img:nth-child(6) {
    /* autoprefixer: ignore next */
    clip-path: circle(27% at center);
  }

  img:nth-child(7) {
    /* autoprefixer: ignore next */
    clip-path: circle(23% at center);
  }

  img:nth-child(8) {
    /* autoprefixer: ignore next */
    clip-path: circle(18% at center);
  }

  img:nth-child(9) {
    /* autoprefixer: ignore next */
    clip-path: circle(14% at center);
  }

  i {
    @size: 22px;

    width: @size;
    height: @size;
    background-color: @brandBlue;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - @size / 2);
    left: calc(50% - @size / 2);
  }
}
