#records {
  li {
    .record-modal {
      display: none;
    }
  }
  li.active {
    .record-modal {
      display: block;
    }
  }
}

#record-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @brandBlue;
  color: white;
  padding: 3em 16em 3em 4em;
  display: none;

  &.visible {
    display: block;
  }

  > div {
    position: relative;
  }

  i {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    cursor: pointer;
    font-size: 2em;
  }
}
