@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#records {
  @recordsCircleDiameter: 780px;
  @recordsCircleStep: 36px;

  position: relative;
  width: 100%;
  max-width: @recordsCircleDiameter;
  min-height: @recordsCircleDiameter;
  margin: auto;
  cursor: pointer;

  img {
    position: absolute;
    width: 100%;
  }

  .loop (@index) when (@index > 0) {
    img:nth-child(@{index}) {
      /* autoprefixer: ignore next */
      clip-path: circle(@recordsCircleDiameter/2 - (@index - 1) * @recordsCircleStep at center);
    }
    .loop(@index - 1);
  }
  .loop(9);
}
