@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#records {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 780px;
  max-height: 780px;
  margin: auto;

  img {
    position: absolute;
    width: 100%;
  }

  //.loop (@index) when (@index > 0) {
  //  li:nth-child(@{index}) {
  //    top: @index * 32px;
  //  }
  //  .loop(@index - 1);
  //}
  //.loop(9);
}
